@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    background: linear-gradient(270deg, #4f46e5, #9333ea, #3b82f6);
    background-size: 200% 200%;
    animation: gradientBackground 10s ease infinite;
  }